In [6]:
import pandas as pd

In [8]:
df = pd.read_csv('power.csv')
df.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [11]:
filtered_countries = df[ (df['country']=='Latvia') | (df['country']=='Litva') | (df['country']=='Estonia') ]
filtered_countrie1 = filtered_countries[ (filtered_countries['category']==4) | (filtered_countries['category']==12) | (filtered_countries['category']==21) ]
filtered_countrie2 = filtered_countrie1[ (filtered_countrie1['year'] <= 2010) & (filtered_countrie1['year'] >= 2005)]
filtered_countrie3 = filtered_countrie2[ (filtered_countrie2['quantity'] >= 0)]
filtered_countrie3['quantity'].sum()

118284.0